body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    font-weight: bold;
}

header {
    background-color: #004d1a;
}

nav.navbar {
    background-color: #004d1a;
}

a.btn-lg {
    padding: 15px 30px;
    border-radius: 8px;
}

a.btn-outline-success {
    border: 2px solid #004d1a;
    color: #004d1a;
}

    a.btn-outline-success:hover {
        background-color: #004d1a;
        color: white;
    }

.bg-success {
    background-color: #004d1a !important;
}

.text-success {
    color: #004d1a !important;
}

footer {
    background-color: #f1f1f1;
}

.custom-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: #218838;
    color: white;
    border-color: white;
    transform: scale(1.05);
}
